<ion-item (click)="onClickChat.emit(chat)" button="true" class="chat" detail="false">
  <ion-avatar aria-hidden="true" slot="start">
    <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <ion-label >
    <strong>{{chat.name}}</strong> <br>
    @if(chat.messages.length > 0){
      <ion-note color="medium" class="ion-text-wrap">{{chat.messages[chat.messages.length -1].getBody()}}</ion-note>
    } 
  </ion-label>
  @if(unseenMessages > 0){
    <ion-badge color="tertiary" slot="end">{{ unseenMessages }}</ion-badge>
  }
</ion-item>