<ion-grid class="h-100 d-flex flex-column">

      <ion-row>
        @for (item of filters; track $index) {
          <ion-col sizeSm="12" sizeMd="5" sizeLg="4" sizeXl="3" class="d-flex align-items-stretch justify-content-center">
            <app-sections
              class="d-flex align-items-stretch justify-content-center"
              (click)="selectedFilter = item"
              [label]="item"
              [selected]="item === selectedFilter">
            </app-sections>
          </ion-col>
        }
      </ion-row>


  <ion-row>
    <ion-searchbar
      animated="true"
      placeholder="Search"
      [ngModel]="search"
      (ngModelChange)="searchChats($event)"
    ></ion-searchbar>
  </ion-row>

      <ion-row class="flex-grow-1">
        <ion-col sizeSm="12">
          <ion-content>
            <ion-list lines="inset" id="inbox-list">
              @for (chat of filteredChats; track $index) {
                  @if(chat.isGroup){
                    <ion-menu-toggle autoHide="false">
                      <app-chat-item (onChatClick)="updateChatView($event)" [chat]="chat"></app-chat-item>
                    </ion-menu-toggle>
                  }
              @if (filteredChats.length === 0){
                <ion-item>
                  <ion-label>No chat matches your search</ion-label>
                </ion-item>
              }
            }
          </ion-list>
          </ion-content>
        </ion-col>
      </ion-row>
</ion-grid>

