  <ion-split-pane contentId="main-content">
          <ion-menu contentId="main-content" type="overlay">
            <ion-content fullscreen [scrollY]="false">
              <ion-grid class="h-100">
                <ion-row class="h-100">

                  <ion-col id="side-menu" sizeSm="1" class="d-flex flex-column justify-content-end align-items-center">
                    <ion-segment [(ngModel)]="selectedPage" class="d-flex flex-column align-items-center justify-content-center">
                      @for(option of options; track  $index){
                        <ion-segment-button [value]="option[0]" class="d-flex align-items-center justify-content-center">
                          <fa-icon [icon]="option[1]"></fa-icon>
                        </ion-segment-button>
                      }
                    </ion-segment>
                  </ion-col>


                  <ion-col sizeSm="11">
                    @if (loading) {
                      <ion-loading></ion-loading>
                    }
                    @else {
                      @switch (selectedPage){
                        @case ('Creation'){
                          <app-creation-menu
                            [chats]="user.directChats"
                            [friends]="user.friends"
                            [userId]="user.userId"
                            (chatEvent)="changeSelectedChat($event)">
                          </app-creation-menu>
                        }
                        @case ('Friends'){
                          <app-friends-menu
                            [userId]="user.userId"
                            [friends]="user.friends">
                          </app-friends-menu>
                        }
                        @default {
                          <app-main-menu
                            [chats]="{direct: user.directChats, group: user.groupChats}"
                            (selectedChatChanged)="changeSelectedChat($event)">
                          </app-main-menu>
                        }
                      }
                    }
                  </ion-col>

                </ion-row>
              </ion-grid>
            </ion-content>
          </ion-menu>
    <ion-content>
      <app-chat-main-content id="main-content" [chat]="selectedChat"/>
    </ion-content>

  </ion-split-pane>

