.message {
    color: #000;
    clear: both;

    
    line-height: 18px;
    font-size: 16px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    
    max-width: 85%;
    word-wrap: break-word;
    z-index: -1;
  }

  .message.received {
    background: var(--ion-color-light, #fff);
    color: var(--ion-color-light-contrast, #fff);
    border-radius: 0px 5px 5px 5px;
    align-self: flex-start;
    	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .message.sent {
    background: var(--ion-color-tertiary, #000);
    color: var(--ion-color-tertiary-contrast, #000);
    border-radius: 5px 0px 5px 5px;
    align-self: flex-end;
    	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .metadata {
    
    display: inline-block;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
  }

  .metadata .time.received {
    color: #6e6e6e;
  }

  .metadata .time.sent {
    color: var(--ion-color-tertiary-contrast, #000);
  }
  .metadata .time {
    font-size: 11px;
    display: inline-block;
  }
  
  .metadata .tick {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;
  }
  
  .metadata .tick svg {
    position: absolute;
  }

  .blue{
    color: rgb(56, 233, 233);
  }


@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
