<ion-grid class="h-100 d-flex flex-column">

    <ion-row>
      @for (item of sections; track $index) {
        <ion-col sizeSm="12" sizeMd="5" sizeLg="4" sizeXl="3" class="d-flex align-items-stretch justify-content-center">
          <app-sections
            class="d-flex align-items-stretch justify-content-center"
            (click)="selectedSection = item"
            [label]="item"
            [selected]="item === selectedSection">
          </app-sections>
        </ion-col>
      }
    </ion-row>

  @if(selectedSection === 'Add'){

    <ion-row class="d-flex align-items-center">
      <ion-col [formGroup]="form" sizeSm="10">
        <ion-input
          formControlName="userId"
          label="Enter User-ID"
          label-placement="floating"
          fill="outline"
          placeholder="Todalooo"
        ></ion-input>
      </ion-col>

      <ion-col sizeSm="2">
        <ion-button (click)="sendRequest()">
          <fa-icon [icon]="faPaperPlane"></fa-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  } @else {
    <ion-row>
      <ion-searchbar
        animated="true"
        placeholder="Search"
      ></ion-searchbar>
    </ion-row>

    <ion-row>
      <ion-col sizeSm="12">
        <ion-list>
          @for (friend of friends; track $index){
            <ion-item class="d-flex justify-content-center">
              <ion-avatar aria-hidden="true" slot="start">
                <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>
                <Strong>
                  {{friend.username}}
                </Strong>
              </ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>
  }
</ion-grid>
